{% extends "Base/padre.html" %}

{% load static %}

{% block Pagina %}
<section>
<div class="row">
    <div class="col-md-12">
        <div class="section-heading">
            <h1>Aquí verás los <em>eventos</em> programados.</h1>
            <p>Eventos según el calendario del año 2022</p>
        </div>
    </div>
</div>

<p>NOMBRE: <i>{{evento.nombre}}</i></p>
<p>DESCRIPCIÓN : <i>{{evento.descripción}}</i></p>
<p>FECHA : <i>{{evento.foto}}</i></p>

<p>
    <a href="{% url 'evento_listar' %}">REGRESAR</a> 
</p>
<div class="white-button button">
    <a href="{% url 'inicio' %}"><em>Inicio</em></a>
</div>
</section>

{% endblock %}