{% extends "Base/padre.html" %}

{% load static %}

{% block Pagina %}
<section>
<div class="row">
    <div class="col-md-12">
        <div class="section-heading">
            <h1>Aquí verás los <em>eventos</em> programados.</h1>
            <p>Eventos según el calendario del año 2022</p>
        </div>
    </div>
</div>


<form method="post">{% csrf_token %}
    ¿Estas seguro que deseas borrar el evento: "{{ object }}"?
    <input type="submit" value="SI">

</form>


<p>
    <a href="{% url 'evento_crear' %}"><button>CREAR</button></a> 
</p>
<div class="white-button button">
    <a href="{% url 'inicio' %}"><em>Inicio</em></a>
</div>
</section>


{% endblock %}