{% extends "Base/padre.html" %}

{% load static %}

{% block Pagina %}
<section id="featured" class="content-section">
    <div class="section-heading">
        <h1>Directorios<br><em>de Laboratorios</em></h1>
        <p>Laboratorios en la Escuela Superior de Medicna 
        <br>del Instituto Politécnico Nacional</p>

    </div>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="ENVIAR">

    </form>

</section>
<div class="white-button button">
    <a href="{% url 'inicio' %}"><em>Inicio</em></a>
</div>

{% endblock %}